@model IList<WowTeamCreator.Models.Player>

@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Role
            </th>
            <th>
                Level
            </th>
            <th>
                Select
            </th>
        </tr>

@*        @foreach(var item in Model)*@
        @for(int i=0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => m[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].Role)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].Level)
                </td>
                <td>
                    @Html.HiddenFor(m => m[i].Name)
                    @Html.CheckBoxFor(m => m[i].Selected)
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

