@model IEnumerable<WowTeamCreator.Models.Player>

@{
    ViewBag.Title = "Team";
}
<h2>Team</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
        </tr>
    }

</table>

<p>Missing roles:</p>
@foreach (var item in ViewBag.MissingRoles)
{
    @Html.DisplayFor(i => item)
}
